<div class="row">
  <div class="col-sm-6">
    <h1>Lists</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_list_path, class: 'btn btn-primary' do %>
      Add New List
    <% end %>
  </div>
</div>

<div class="row" data-controller="board" data-board-url="/lists/:id/move">
  <% @lists.each do |list| %>
    <%= content_tag :div, id: dom_id(list), class: ["col-sm-3", dom_class(list)], data: { id: list.id } do %>
      <div class="card card-body bg-light">
        <h6><%= link_to list.name, list %></h6>

        <div data-controller="list" data-list-group="todos" data-list-url="/lists/<%= list.id %>/todos/:id/move" data-list-id="<%= list.id %>">
          <% list.todos.each do |todo| %>
            <div class="card card-body mb-2" data-id="<%= todo.id %>">
              <%= todo.description %>
            </div>
          <% end %>
        </div>

        <div data-controller="toggle" data-toggle-class="d-none">
          <%= link_to "Add todo", new_list_todo_path(list), data: { action: "click->toggle#toggle" }, class: "btn btn-light btn-block" %>
          <%= render "todos/form", todo: Todo.new, list: list, class: "d-none", data: { target: "toggle.toggleable" } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= content_tag :div, class: ["col-sm-3"] do %>
    <div data-controller="toggle" data-toggle-class="d-none">
      <%= link_to "Add List", new_list_path, data: { action: "click->toggle#toggle" }, class: "btn btn-light btn-block" %>
      <%= render "lists/form", list: List.new, class: "d-none", data: { target: "toggle.toggleable" } %>
    </div>
  <% end %>
</div>
